body{
    padding: 50px;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    cursor: pointer;
    margin: 0px;
}

.complete{
    text-decoration: line-through;
}